In [2]:
# Import libraries
using DataFrames, Gadfly;

In [3]:
# Import data
tData = readtable("averageTempByCountry.csv")

214743×4 DataFrames.DataFrame
│ Row    │ Country   │ Year │ Quarter │ AverageTemperature │
├────────┼───────────┼──────┼─────────┼────────────────────┤
│ 1      │ "Poland"  │ 1880 │ "Q1"    │ -2.668             │
│ 2      │ "Poland"  │ 1880 │ "Q2"    │ 12.251             │
│ 3      │ "Poland"  │ 1880 │ "Q3"    │ 16.9037            │
│ 4      │ "Poland"  │ 1880 │ "Q4"    │ 3.16533            │
│ 5      │ "Poland"  │ 1798 │ "Q1"    │ -0.161             │
│ 6      │ "Poland"  │ 1798 │ "Q2"    │ 13.8453            │
│ 7      │ "Poland"  │ 1798 │ "Q3"    │ 17.9547            │
│ 8      │ "Poland"  │ 1798 │ "Q4"    │ 0.216              │
│ 9      │ "Poland"  │ 1993 │ "Q1"    │ -0.151333          │
│ 10     │ "Poland"  │ 1993 │ "Q2"    │ 13.551             │
│ 11     │ "Poland"  │ 1993 │ "Q3"    │ 15.263             │
⋮
│ 214732 │ "Ukraine" │ 1743 │ "Q2"    │ 9999.0             │
│ 214733 │ "Ukraine" │ 1743 │ "Q3"    │ 9999.0             │
│ 214734 │ "Ukraine" │ 1743 │ "Q4"    │ 9999.0             │
│ 214735 │ "Ukraine" │ 1743 │ "Q1"    │ 9999.0             │
│ 214736 │ "Ukraine" │ 1743 │ "Q2"    │ 9999.0             │
│ 214737 │ "Ukraine" │ 1743 │ "Q3"    │ 9999.0             │
│ 214738 │ "Ukraine" │ 1743 │ "Q4"    │ 9999.0             │
│ 214739 │ "Ukraine" │ 1743 │ "Q1"    │ 9999.0             │
│ 214740 │ "Ukraine" │ 1743 │ "Q2"    │ 9999.0             │
│ 214741 │ "Ukraine" │ 1743 │ "Q3"    │ 9999.0             │
│ 214742 │ "Ukraine" │ 1743 │ "Q4"    │ 9999.0             │
│ 214743 │ "Ukraine" │ 1743 │ "Q4"    │ 1.898              │

In [4]:
years = Set(tData[:Year]);
quart = Set(tData[:Quarter]);

In [7]:
avgt = Float64[];
yn = Float64[];
qn = String[];


for y in years
    for q in quart
        yData = tData[ (tData[:Year] .== y), :];
        qData = yData[ (yData[:Quarter] .== q), :];
        nData = qData[ (qData[:AverageTemperature] .< 9999), :];
    if nrow(nData) > 0 
        m = sum(nData[4]);
        mean = m / nrow(nData);
        append!(avgt, [mean]);
        append!(yn,y);
        append!(qn, [q]);

    else
        append!(avgt, [0]);
        append!(yn, y);
        append!(qn, [q]);
    end
    end
end

In [22]:
dateDF = DataFrame( Year = yn, Quarter = qn, AverageTemperature = avgt);
dateDF = dateDF[ (dateDF[:Year] .>= 1900), :];
dateDF = dateDF[ (dateDF[:Year] .<= 2000), :];

In [23]:
sort(dateDF, cols = (:Year,  :Quarter))

404×3 DataFrames.DataFrame
│ Row │ Year   │ Quarter │ AverageTemperature │
├─────┼────────┼─────────┼────────────────────┤
│ 1   │ 1900.0 │ "Q1"    │ 14.6412            │
│ 2   │ 1900.0 │ "Q2"    │ 20.3848            │
│ 3   │ 1900.0 │ "Q3"    │ 22.3184            │
│ 4   │ 1900.0 │ "Q4"    │ 16.8571            │
│ 5   │ 1901.0 │ "Q1"    │ 14.5084            │
│ 6   │ 1901.0 │ "Q2"    │ 20.5956            │
│ 7   │ 1901.0 │ "Q3"    │ 22.4163            │
│ 8   │ 1901.0 │ "Q4"    │ 16.4889            │
│ 9   │ 1902.0 │ "Q1"    │ 14.9667            │
│ 10  │ 1902.0 │ "Q2"    │ 20.1845            │
│ 11  │ 1902.0 │ "Q3"    │ 22.1123            │
⋮
│ 393 │ 1998.0 │ "Q1"    │ 16.2808            │
│ 394 │ 1998.0 │ "Q2"    │ 21.8224            │
│ 395 │ 1998.0 │ "Q3"    │ 23.3381            │
│ 396 │ 1998.0 │ "Q4"    │ 17.5437            │
│ 397 │ 1999.0 │ "Q1"    │ 15.9792            │
│ 398 │ 1999.0 │ "Q2"    │ 21.4623            │
│ 399 │ 1999.0 │ "Q3"    │ 23.2554            │
│ 400 │ 1999.0 │ "Q4"    │ 17.4661            │
│ 401 │ 2000.0 │ "Q1"    │ 15.6534            │
│ 402 │ 2000.0 │ "Q2"    │ 21.609             │
│ 403 │ 2000.0 │ "Q3"    │ 23.0566            │
│ 404 │ 2000.0 │ "Q4"    │ 17.7018            │

In [24]:
# Write new file
writetable("averageByYQ.csv", dateDF)